<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	
	
	<bean id="manpowerBiz" class="com.zking.hr.biz.impl.cuntomization.manpowerResource.ManpowerResourceBizImpl">
		<property name="organDao" ref="manpowerDao"/>
		<property name="professionDao" ref="professiondao"></property>
		<property name="positionTDao" ref="positiontdao"></property>
		<property name="positionDao" ref="positiondao"></property>
		<property name="publicDao" ref="publicPropertydao"></property>
		<property name="filesdao" ref="salaryTfiledao"></property>
	</bean>
	
	<bean id="manpoweraction" class="com.zking.hr.view.contorl.action.customization.manpowerResource.manpowerResourceAction">
		<property name="manpowerbiz" ref="manpowerBiz"></property>
	</bean>
	<bean id="professionaction" class="com.zking.hr.view.contorl.action.customization.manpowerResource.professionAction">
		<property name="manpowerbiz" ref="manpowerBiz"></property>
	</bean>
	<bean id="positionTaction" class="com.zking.hr.view.contorl.action.customization.manpowerResource.positionTypeAction">
		<property name="manpowerbiz" ref="manpowerBiz"></property>
	</bean>
	<bean id="positionaction" class="com.zking.hr.view.contorl.action.customization.manpowerResource.positionAction">
		<property name="manpowerbiz" ref="manpowerBiz"></property>
	</bean>
	<bean id="publicPropertyaction" class="com.zking.hr.view.contorl.action.customization.manpowerResource.publicPropertyAction">
		<property name="manpowerbiz" ref="manpowerBiz"></property>
	</bean>
	
	
</beans>