<?xml version="1.0" encoding="UTF-8"?>
<beans
	 xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/aop/spring-tx-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/aop/spring-context-2.5.xsd ">
	<bean id="renliBizImpl" class="com.zking.hr.biz.impl.renli.RenliBizImpl">
		<property name="filesdao" ref="salaryTfiledao"></property>
		<property name="organDao" ref="manpowerDao"></property>
		<property name="postiDao" ref="positiontdao"></property>
		<property name="positionDao" ref="positiondao"></property>
		<property name="proDao" ref="professiondao"></property>
		<property name="tssstanderDao" ref="standdaoimpl"></property>
	</bean>
	
	<bean id="renlimangeAction" class="com.zking.hr.view.contorl.action.renli.RenliMangeAction">
		<property name="renliBiz" ref="renliBizImpl"></property>
	</bean>
	
	
</beans>